<app-header></app-header>
<!--<div *ngIf="error">{{error}}</div>-->
<!--<div *ngIf="success">{{success}}</div>-->


<div class="limiter" style="margin-top: 100px">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">Imię</th>
            <th class="column2">Klasa</th>
            <th class="column2">Obecnośc</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of PupilList">
            <td >{{sub.name}}</td>
            <td> {{sub.classId}}</td>
<!--            <td><input type="checkbox" [checked]="false"  [(ngModel)]="sub.check" name="check"></td>-->
            <td><input type="checkbox"  checked [(ngModel)]="sub.presence" >
              </td>


          </tr>
          <tr><input type="submit" value="Aktualizuj" (click)="presenceCheck()"></tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

