
<app-header></app-header>
<div class="home">

  <!-- Slider -->
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

      <!-- Slide -->
      <div class="slide">
        <div class="background_image" style="background-image:url(images/index.jpg)"></div>
        <div class="home_slider_overlay"></div>
        <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content active">
                    <div class="home_subtitle">nic CIę nie ogranicza</div>
                    <div class="home_title">
                      <h1><span>Najlepszy</span> dziennik</h1>
                      <h1>elektroniczny</h1>
                    </div>
                    <div class="button home_button"><a href="#">read more</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
  </div>
</div>
