<app-header></app-header>
<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>


<div class="limiter" style="margin-top: 100px">
  <div class="container-table100">
    <div class="add" style="width: 600px; align-items: center">
      <form name="theFormLog" class="form-box">

        <input [(ngModel)]="sName" placeholder="Podaj nazwę kursu" name="cName"
               type="text" style="display: inline-block; width: 250px; " class="form-control">

        <input [(ngModel)]="sLeader" placeholder="Podaj prowadzącego" name="cLeader"
               type="text" style="display: inline-block; width: 250px;" class="form-control">

        <input [(ngModel)]="sStartDate" placeholder="Podaj prowadzącego" name="cLeader"
               type="date" style="display: inline-block; width: 250px;" class="form-control">

        <input [(ngModel)]="sEndDate" placeholder="Podaj prowadzącego" name="cLeader"
               type="date" style="display: inline-block; width: 250px;" class="form-control">

        <select name="sClass" [(ngModel)]="sClass">
          <option value="">Wybierz klasę</option>
          <option value="1A">1A</option>
          <option value="1B">1B</option>
          <option value="1C">1C</option>
        </select>

        <input type="submit" (click)="addSubject()" class="btn btn-primary" style="text-align: center">
      </form>
    </div>
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">Przedmiot</th>
            <th class="column2">Prowadzący</th>
            <th >id</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cars" routerLink="/przedmioty_daty"
              [queryParams]="{name: item.name,
            leader: item.leader,
            class_id: item.classId}" >
            <td >{{item.name}}</td>
            <td >{{item.leader}}</td>
            <td> {{item.classId}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--<div id="theList">-->
<!--  <h2>The list</h2>-->
<!--  <ul>-->
<!--<li *ngFor="let item of cars">{{item.name}} | {{item.leader}} </li>-->
<!--  </ul>-->
<!--</div>-->
