<app-header></app-header>

<div class="limiter" style="margin-top: 100px">
  <div class="container-table100">
    <h2> Zarządzanie kursem: {{cname}}  Prowadzący: {{cleader}}  ID kursu: {{cId}}</h2>



    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
          <tr class="table100-head">
            <th class="column1">Kursy</th>
            <th class="column2">Prowadzący</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of coursePack">
            <td >{{sub.name}}</td>
            <td >{{sub.leader}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
